/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after
{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

.hidden
{
    display: none;
}

h3,
h4,
h5,
p,
pre
{
    margin-bottom: 20px;
}

html,
body
{
    height: 100%;
}

body
{
    font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center;
}

h1
{
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
}

h2
{
    font: italic 19px/1.3em Georgia,serif;
    color: #bbb;
}

#footer
{
    box-shadow: inset 0 1px 0 #eee;
    padding: 40px 0 0 0;
    margin-top: 70px;
    text-align: center;
}

.profile #wrapper
{
    padding: 100px 40px 0px;
    max-width: 600px;
    margin: 0 auto;
}

.profile #header
{
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

.profile #avatar
{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1
{
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20px;
    color: #222;
}

.profile h2
{
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

#wrapper
{
    clear: both;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;
}

#wrapper.home
{
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
}

.home #avatar
{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

a
{
    text-decoration: none;
    color: #1a9fab;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

ul,
ol
{
    margin:30px 0;
    padding:0 0 0 20px;
}

li
{
    list-style-type:circle;
}

p
{
    line-height:1.7;
}

b,
strong
{
    font-weight: 500;
    color: #1E2025;
}

em,
i
{
    font-style: italic;
}

#title
{
    display: inline-block;
    line-height: 100%;
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    padding-bottom: 20px;
}

.description
{
    float: right;
    font: italic 14px/1.4em Georgia,serif;
    color: #aaa;
}

.home h1
{
    font-size: 30px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;
}

.home h2
{
    font: italic 19px/1.3em Georgia,serif;
    color: #bbb;
}

h3,
h4,
h5
{
    color:#333;
}

h3
{
    font-size:20px;
    font-weight: 400;
}

h4
{
    font-size:16px;
    font-weight:bold;
}

h5
{
    font-size:15px;
    font-weight: bold;
}

h6
{
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 6px;
}

p.small
{
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    display: block;
}

blockquote
{
    margin: 30px 0;
    padding: 10px 10px 1px 20px;
    border-left: 3px solid #eee;
    background: #fafafa;
    border-radius: 3px;
}

hr
{
    display: block;
    border: none;
    height: 1px;
    margin: 40px auto;
    background: #eee;
}

code
{
    padding: 0 5px;
    font-family: 'Source Code Pro',Menlo,monospace;
    background-color:#E9ECEF;
    font-size:14px;
}

pre
{
    font-family:Menlo, Monaco, Courier;
    white-space:pre-wrap;
    /*border: 1px solid #ddd;*/
    padding:20px;
    /*font-size:14px;*/
    overflow:auto;
    border-radius: 3px;
    background: #23241f;
    font-family: 'Source Code Pro',Menlo,monospace;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
    color: #d0d4d7;
}

pre code
{
    background: transparent;
    padding: 0;
}

@media screen and (max-width: 540px)
{
    #wrapper
    {
        padding: 20px 20px 20px 20px;
    }

    #header
    {
        margin-bottom: 60px;
        border-bottom: 1px solid #eee;
    }

    #footer
    {
        margin-top: 60px;
    }

    #title
    {
        font-size: 17px;
    }

    h1
    {
        font-size: 26px;
    }
}
